@font-face {
    font-family: productsans_0;
    src: url(C://Windows/Fonts/productsans_0.ttf);
}

.main_div{
    height: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.sidebar {
    text-align: right;
    height: 100px;
    vertical-align: middle;
    padding-top: 20px;
}

.sidebar button{
    width: 48px;
    height: 48px;
    padding: 25px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    background-color: black;
}
.sidebar button:hover{
    cursor: pointer;
    background-color: rgb(108, 108, 108);
}
.sidebar_btn_img1{
    border-radius: 100%;
    margin-top: -21px;
    margin-left: -21px;
    width: 42px;
    height: auto;
    background-color: white;
}
.sidebar_btn_img2{
    border-radius: 100%;
    margin-top: -21px;
    margin-left: -21px;
    width: 42px;
    height: auto;
    background-color: white;
}
.sidebar label:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sidebar label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: middle;
}

.logo{
    width: 100%;
    height: 100px;
    color: white;
    font-size: 100px;
    margin-top: 80px;
    margin-bottom: 60px;
    font-family: productsans_0;
    /* font-weight: bold; */
}

.search_input{
    height: 100px;
    width: 100%;
    margin-bottom: 0px;
}

.search_input input{
    width: 620px;
    height: 50px;
    border-radius: 50px;
    border: none;    
    text-align: left; 
    font-size: 19px;
    font-style: normal;
    font-weight: 550;
    padding-left: 3.5%;
    font-family: productsans_0;
}

.search_input input:focus::-webkit-input-placeholder{
    color: transparent;
}
/* .search_input input:focus{
    align-items: top;
    height: 300px;
} */

.search_input img{
    width: auto;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    margin-top: -2.1rem;
}

.search_input .input_img_search img{
    left: 35%;
    background-color: white;
    border: none;
}

.search_input .input_img_voice img{
    left: 64%;
}
.search_input .input_img_voice img:hover{
    cursor: pointer;
}

.link_emblems {
    height: auto;
    width: 100%;   
}

.link_emblems button {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.link_emblems .btn_link{
    display: inline-block;
    align-items: center;
    margin-top: -30px;
    height: 30px;
    width: 70px;
    padding: 10px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    border-radius: 5px;
}

.link_emblems .btn_link:hover{
    background-color: rgba(87, 87, 87, 0.187);
}

.link_emblems .btn_link:hover, .link_emblems .btn_link_add:hover, .link_emblems .btn_link .btn_link_img:hover{
    cursor: pointer;
}

.link_emblems .btn_link_add{
    margin-bottom: 25px;
    margin-top: -30px;
}

.link_emblems .btn_link .btn_link_img{
    width: 70%;
    height: auto;
}

.link_emblems .label_link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(170, 170, 170);
}




